{"openapi":"3.0.0","info":{"title":"Tiger Tag (public API)","description":"","version":"0.0.1"},"servers":[{"url":"https://api.tigertag.io/api:tigertag"}],"components":{"securitySchemes":{"bearerAuth":{"type":"http","scheme":"bearer","bearerFormat":"JWT"}},"schemas":{}},"paths":{"/SpoolmanDB/materials":{"get":{"operationId":"Tiger Tag (public API)/SpoolmanDB/materials|GET","summary":"Retrieves all filament materials, optionally specifying a language \u0022lang\u0022 or a light listing \u0022light\u0022.","description":"Retrieves all filament materials, optionally specifying a language \u0022lang\u0022 or a light listing \u0022light\u0022.\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E not required","tags":["SpoolmanDB"],"security":[],"parameters":[],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"type":"object","description":""}}}},"400":{"description":"Input Error. Check the request payload for issues."},"401":{"description":"Unauthorized"},"403":{"description":"Access denied. Additional privileges are needed access the requested resource."},"404":{"description":"Not Found. The requested resource does not exist."},"429":{"description":"Rate Limited. Too many requests."},"500":{"description":"Unexpected error"}}}},"/all/last_update":{"get":{"operationId":"Tiger Tag (public API)/all/last_update|GET","summary":"Returns the timestamp indicating the last time any resource in the entire dataset was updated.","description":"Returns the timestamp indicating the last time any resource in the entire dataset was updated.\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E not required","tags":["all"],"security":[],"parameters":[],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"type":"object","description":""}}}},"400":{"description":"Input Error. Check the request payload for issues."},"401":{"description":"Unauthorized"},"403":{"description":"Access denied. Additional privileges are needed access the requested resource."},"404":{"description":"Not Found. The requested resource does not exist."},"429":{"description":"Rate Limited. Too many requests."},"500":{"description":"Unexpected error"}}}},"/analytics/tag":{"get":{"operationId":"Tiger Tag (public API)/analytics/tag|GET","summary":"","description":"\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E not required","tags":["analytics"],"security":[],"parameters":[],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"type":"object","description":""}}}},"400":{"description":"Input Error. Check the request payload for issues."},"401":{"description":"Unauthorized"},"403":{"description":"Access denied. Additional privileges are needed access the requested resource."},"404":{"description":"Not Found. The requested resource does not exist."},"429":{"description":"Rate Limited. Too many requests."},"500":{"description":"Unexpected error"}}}},"/aspect/get/all/by_page":{"get":{"operationId":"Tiger Tag (public API)/aspect/get/all/by_page|GET","summary":"Retrieves a paginated list of all aspects.","description":"Retrieves a paginated list of all aspects.\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E not required","tags":["aspect"],"security":[],"parameters":[{"name":"page","in":"query","description":"","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"per_page","in":"query","description":"","required":false,"schema":{"type":"integer","format":"int64","default":"10"}}],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"type":"object","description":""}}}},"400":{"description":"Input Error. Check the request payload for issues."},"401":{"description":"Unauthorized"},"403":{"description":"Access denied. Additional privileges are needed access the requested resource."},"404":{"description":"Not Found. The requested resource does not exist."},"429":{"description":"Rate Limited. Too many requests."},"500":{"description":"Unexpected error"}}}},"/aspect/get/all":{"get":{"operationId":"Tiger Tag (public API)/aspect/get/all|GET","summary":"Retrieves a list of all aspects.","description":"Retrieves a list of all aspects.\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E not required","tags":["aspect"],"security":[],"parameters":[],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer","format":"int64","description":"","nullable":true},"label":{"type":"string","description":"","nullable":true},"color_count":{"type":"integer","format":"int64","description":""}}}}}}},"400":{"description":"Input Error. Check the request payload for issues."},"401":{"description":"Unauthorized"},"403":{"description":"Access denied. Additional privileges are needed access the requested resource."},"404":{"description":"Not Found. The requested resource does not exist."},"429":{"description":"Rate Limited. Too many requests."},"500":{"description":"Unexpected error"}}}},"/aspect/get":{"get":{"operationId":"Tiger Tag (public API)/aspect/get|GET","summary":"Retrieves a single aspect by its ID.","description":"Retrieves a single aspect by its ID.\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E not required","tags":["aspect"],"security":[],"parameters":[{"name":"id","in":"query","description":"","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"type":"object","description":""}}}},"400":{"description":"Input Error. Check the request payload for issues."},"401":{"description":"Unauthorized"},"403":{"description":"Access denied. Additional privileges are needed access the requested resource."},"404":{"description":"Not Found. The requested resource does not exist."},"429":{"description":"Rate Limited. Too many requests."},"500":{"description":"Unexpected error"}}}},"/aspect/last_update":{"get":{"operationId":"Tiger Tag (public API)/aspect/last_update|GET","summary":"Returns the timestamp indicating the last time any aspect was updated.","description":"Returns the timestamp indicating the last time any aspect was updated.\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E not required","tags":["aspect"],"security":[],"parameters":[],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"type":"object","properties":{}}}}},"400":{"description":"Input Error. Check the request payload for issues."},"401":{"description":"Unauthorized"},"403":{"description":"Access denied. Additional privileges are needed access the requested resource."},"404":{"description":"Not Found. The requested resource does not exist."},"429":{"description":"Rate Limited. Too many requests."},"500":{"description":"Unexpected error"}}}},"/brand/get/all/by_page":{"get":{"operationId":"Tiger Tag (public API)/brand/get/all/by_page|GET","summary":"Retrieves a paginated list of all available brands.","description":"Retrieves a paginated list of all available brands.\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E not required","tags":["brand"],"security":[],"parameters":[{"name":"page","in":"query","description":"","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"per_page","in":"query","description":"","required":false,"schema":{"type":"integer","format":"int64","default":"10"}}],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"type":"object","description":""}}}},"400":{"description":"Input Error. Check the request payload for issues."},"401":{"description":"Unauthorized"},"403":{"description":"Access denied. Additional privileges are needed access the requested resource."},"404":{"description":"Not Found. The requested resource does not exist."},"429":{"description":"Rate Limited. Too many requests."},"500":{"description":"Unexpected error"}}}},"/brand/get/all":{"get":{"operationId":"Tiger Tag (public API)/brand/get/all|GET","summary":"Retrieves a list of all available brands.","description":"Retrieves a list of all available brands.\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E not required","tags":["brand"],"security":[],"parameters":[{"name":"light","in":"query","description":"","required":false,"schema":{"type":"boolean","default":null}}],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"type":"object","description":""}}}},"400":{"description":"Input Error. Check the request payload for issues."},"401":{"description":"Unauthorized"},"403":{"description":"Access denied. Additional privileges are needed access the requested resource."},"404":{"description":"Not Found. The requested resource does not exist."},"429":{"description":"Rate Limited. Too many requests."},"500":{"description":"Unexpected error"}}}},"/brand/get":{"get":{"operationId":"Tiger Tag (public API)/brand/get|GET","summary":"Retrieves a single brand by its ID.","description":"Retrieves a single brand by its ID.\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E not required","tags":["brand"],"security":[],"parameters":[{"name":"id","in":"query","description":"","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"type":"object","description":""}}}},"400":{"description":"Input Error. Check the request payload for issues."},"401":{"description":"Unauthorized"},"403":{"description":"Access denied. Additional privileges are needed access the requested resource."},"404":{"description":"Not Found. The requested resource does not exist."},"429":{"description":"Rate Limited. Too many requests."},"500":{"description":"Unexpected error"}}}},"/brand/last_update":{"get":{"operationId":"Tiger Tag (public API)/brand/last_update|GET","summary":"Returns the timestamp indicating the last time any brand was updated.","description":"Returns the timestamp indicating the last time any brand was updated.\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E not required","tags":["brand"],"security":[],"parameters":[],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"type":"object","properties":{}}}}},"400":{"description":"Input Error. Check the request payload for issues."},"401":{"description":"Unauthorized"},"403":{"description":"Access denied. Additional privileges are needed access the requested resource."},"404":{"description":"Not Found. The requested resource does not exist."},"429":{"description":"Rate Limited. Too many requests."},"500":{"description":"Unexpected error"}}}},"/check/connection":{"post":{"operationId":"Tiger Tag (public API)/check/connection|POST","summary":"","description":"\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E not required","tags":["check"],"security":[],"parameters":[],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"type":"object","properties":{}}}}},"400":{"description":"Input Error. Check the request payload for issues."},"401":{"description":"Unauthorized"},"403":{"description":"Access denied. Additional privileges are needed access the requested resource."},"404":{"description":"Not Found. The requested resource does not exist."},"429":{"description":"Rate Limited. Too many requests."},"500":{"description":"Unexpected error"}}}},"/diameter/filament/get/all/by_page":{"get":{"operationId":"Tiger Tag (public API)/diameter/filament/get/all/by_page|GET","summary":"Retrieves a paginated list of all filament diameters.","description":"Retrieves a paginated list of all filament diameters.\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E not required","tags":["diameter"],"security":[],"parameters":[{"name":"page","in":"query","description":"","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"per_page","in":"query","description":"","required":false,"schema":{"type":"integer","format":"int64","default":"10"}}],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"type":"object","description":""}}}},"400":{"description":"Input Error. Check the request payload for issues."},"401":{"description":"Unauthorized"},"403":{"description":"Access denied. Additional privileges are needed access the requested resource."},"404":{"description":"Not Found. The requested resource does not exist."},"429":{"description":"Rate Limited. Too many requests."},"500":{"description":"Unexpected error"}}}},"/diameter/filament/get/all":{"get":{"operationId":"Tiger Tag (public API)/diameter/filament/get/all|GET","summary":"Retrieves a list of all filament diameters.","description":"Retrieves a list of all filament diameters.\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E not required","tags":["diameter"],"security":[],"parameters":[],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer","format":"int64","description":"","nullable":true},"label":{"type":"string","description":"","nullable":true}}}}}}},"400":{"description":"Input Error. Check the request payload for issues."},"401":{"description":"Unauthorized"},"403":{"description":"Access denied. Additional privileges are needed access the requested resource."},"404":{"description":"Not Found. The requested resource does not exist."},"429":{"description":"Rate Limited. Too many requests."},"500":{"description":"Unexpected error"}}}},"/diameter/filament/get":{"get":{"operationId":"Tiger Tag (public API)/diameter/filament/get|GET","summary":"Retrieves a single filament diameter by its ID.","description":"Retrieves a single filament diameter by its ID.\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E not required","tags":["diameter"],"security":[],"parameters":[{"name":"id","in":"query","description":"","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"type":"object","description":""}}}},"400":{"description":"Input Error. Check the request payload for issues."},"401":{"description":"Unauthorized"},"403":{"description":"Access denied. Additional privileges are needed access the requested resource."},"404":{"description":"Not Found. The requested resource does not exist."},"429":{"description":"Rate Limited. Too many requests."},"500":{"description":"Unexpected error"}}}},"/diameter/filament/last_update":{"get":{"operationId":"Tiger Tag (public API)/diameter/filament/last_update|GET","summary":"Returns the timestamp indicating the last time any filament diameter was updated.","description":"Returns the timestamp indicating the last time any filament diameter was updated.\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E not required","tags":["diameter"],"security":[],"parameters":[],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"type":"object","properties":{}}}}},"400":{"description":"Input Error. Check the request payload for issues."},"401":{"description":"Unauthorized"},"403":{"description":"Access denied. Additional privileges are needed access the requested resource."},"404":{"description":"Not Found. The requested resource does not exist."},"429":{"description":"Rate Limited. Too many requests."},"500":{"description":"Unexpected error"}}}},"/material/filament/get/all/by_page":{"get":{"operationId":"Tiger Tag (public API)/material/filament/get/all/by_page|GET","summary":"Retrieves a paginated list of all filament materials. You may optionally specify a language with the \u0027lang\u0027 parameter.","description":"Retrieves a paginated list of all filament materials. You may optionally specify a language with the \u0027lang\u0027 parameter.\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E not required","tags":["material"],"security":[],"parameters":[{"name":"page","in":"query","description":"","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"per_page","in":"query","description":"","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"lang","in":"query","description":"","required":false,"schema":{"type":"string","default":""}}],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"type":"object","description":""}}}},"400":{"description":"Input Error. Check the request payload for issues."},"401":{"description":"Unauthorized"},"403":{"description":"Access denied. Additional privileges are needed access the requested resource."},"404":{"description":"Not Found. The requested resource does not exist."},"429":{"description":"Rate Limited. Too many requests."},"500":{"description":"Unexpected error"}}}},"/material/filament/get/all":{"get":{"operationId":"Tiger Tag (public API)/material/filament/get/all|GET","summary":"[DEPRECATED] USE \u0022/material/get/all\u0022 INSTEAD !!! - Retrieves all filament materials, optionally specifying a language \u0022lang\u0022 or a light listing \u0022light\u0022.","description":"[DEPRECATED] USE \u0022/material/get/all\u0022 INSTEAD !!! - Retrieves all filament materials, optionally specifying a language \u0022lang\u0022 or a light listing \u0022light\u0022.\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E not required","tags":["material"],"security":[],"parameters":[{"name":"lang","in":"query","description":"","required":false,"schema":{"type":"string","default":""}},{"name":"light","in":"query","description":"","required":false,"schema":{"type":"boolean","default":null}}],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"type":"object","properties":{}}}}},"400":{"description":"Input Error. Check the request payload for issues."},"401":{"description":"Unauthorized"},"403":{"description":"Access denied. Additional privileges are needed access the requested resource."},"404":{"description":"Not Found. The requested resource does not exist."},"429":{"description":"Rate Limited. Too many requests."},"500":{"description":"Unexpected error"}}}},"/material/filament/get":{"get":{"operationId":"Tiger Tag (public API)/material/filament/get|GET","summary":"Retrieves a single filament material by its ID, optionally specifying a language.","description":"Retrieves a single filament material by its ID, optionally specifying a language.\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E not required","tags":["material"],"security":[],"parameters":[{"name":"id","in":"query","description":"","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"lang","in":"query","description":"","required":false,"schema":{"type":"string","default":""}}],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"type":"object","description":""}}}},"400":{"description":"Input Error. Check the request payload for issues."},"401":{"description":"Unauthorized"},"403":{"description":"Access denied. Additional privileges are needed access the requested resource."},"404":{"description":"Not Found. The requested resource does not exist."},"429":{"description":"Rate Limited. Too many requests."},"500":{"description":"Unexpected error"}}}},"/material/filament/last_update":{"get":{"operationId":"Tiger Tag (public API)/material/filament/last_update|GET","summary":"Returns the timestamp indicating the last time any filament material was updated.","description":"Returns the timestamp indicating the last time any filament material was updated.\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E not required","tags":["material"],"security":[],"parameters":[],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"type":"object","properties":{}}}}},"400":{"description":"Input Error. Check the request payload for issues."},"401":{"description":"Unauthorized"},"403":{"description":"Access denied. Additional privileges are needed access the requested resource."},"404":{"description":"Not Found. The requested resource does not exist."},"429":{"description":"Rate Limited. Too many requests."},"500":{"description":"Unexpected error"}}}},"/material/get/all":{"get":{"operationId":"Tiger Tag (public API)/material/get/all|GET","summary":"Retrieves all materials, optionally specifying a language \u0022lang\u0022 or a light listing \u0022light\u0022.","description":"Retrieves all materials, optionally specifying a language \u0022lang\u0022 or a light listing \u0022light\u0022.\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E not required","tags":["material"],"security":[],"parameters":[{"name":"lang","in":"query","description":"","required":false,"schema":{"type":"string","default":""}},{"name":"light","in":"query","description":"","required":false,"schema":{"type":"boolean","default":null}}],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"type":"object","properties":{}}}}},"400":{"description":"Input Error. Check the request payload for issues."},"401":{"description":"Unauthorized"},"403":{"description":"Access denied. Additional privileges are needed access the requested resource."},"404":{"description":"Not Found. The requested resource does not exist."},"429":{"description":"Rate Limited. Too many requests."},"500":{"description":"Unexpected error"}}}},"/material/resin/get/all":{"get":{"operationId":"Tiger Tag (public API)/material/resin/get/all|GET","summary":"Retrieves all filament materials, optionally specifying a language \u0022lang\u0022 or a light listing \u0022light\u0022.","description":"Retrieves all filament materials, optionally specifying a language \u0022lang\u0022 or a light listing \u0022light\u0022.\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E not required","tags":["material"],"security":[],"parameters":[{"name":"lang","in":"query","description":"","required":false,"schema":{"type":"string","default":""}},{"name":"light","in":"query","description":"","required":false,"schema":{"type":"boolean","default":null}}],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"type":"object","properties":{}}}}},"400":{"description":"Input Error. Check the request payload for issues."},"401":{"description":"Unauthorized"},"403":{"description":"Access denied. Additional privileges are needed access the requested resource."},"404":{"description":"Not Found. The requested resource does not exist."},"429":{"description":"Rate Limited. Too many requests."},"500":{"description":"Unexpected error"}}}},"/measure_unit/get/all/by_page":{"get":{"operationId":"Tiger Tag (public API)/measure_unit/get/all/by_page|GET","summary":"Retrieves a paginated list of all measure units, optionally specifying a language.","description":"Retrieves a paginated list of all measure units, optionally specifying a language.\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E not required","tags":["measure_unit"],"security":[],"parameters":[{"name":"page","in":"query","description":"","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"per_page","in":"query","description":"","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"lang","in":"query","description":"","required":false,"schema":{"type":"string","default":""}}],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"type":"object","description":""}}}},"400":{"description":"Input Error. Check the request payload for issues."},"401":{"description":"Unauthorized"},"403":{"description":"Access denied. Additional privileges are needed access the requested resource."},"404":{"description":"Not Found. The requested resource does not exist."},"429":{"description":"Rate Limited. Too many requests."},"500":{"description":"Unexpected error"}}}},"/measure_unit/get/all":{"get":{"operationId":"Tiger Tag (public API)/measure_unit/get/all|GET","summary":"Retrieves all measure units, optionally specifying a language.","description":"Retrieves all measure units, optionally specifying a language.\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E not required","tags":["measure_unit"],"security":[],"parameters":[{"name":"lang","in":"query","description":"","required":false,"schema":{"type":"string","default":""}}],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"type":"object","description":""}}}},"400":{"description":"Input Error. Check the request payload for issues."},"401":{"description":"Unauthorized"},"403":{"description":"Access denied. Additional privileges are needed access the requested resource."},"404":{"description":"Not Found. The requested resource does not exist."},"429":{"description":"Rate Limited. Too many requests."},"500":{"description":"Unexpected error"}}}},"/measure_unit/get":{"get":{"operationId":"Tiger Tag (public API)/measure_unit/get|GET","summary":"Retrieves a single measure unit by its ID, optionally specifying a language.","description":"Retrieves a single measure unit by its ID, optionally specifying a language.\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E not required","tags":["measure_unit"],"security":[],"parameters":[{"name":"id","in":"query","description":"","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"lang","in":"query","description":"","required":false,"schema":{"type":"string","default":""}}],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"type":"object","description":""}}}},"400":{"description":"Input Error. Check the request payload for issues."},"401":{"description":"Unauthorized"},"403":{"description":"Access denied. Additional privileges are needed access the requested resource."},"404":{"description":"Not Found. The requested resource does not exist."},"429":{"description":"Rate Limited. Too many requests."},"500":{"description":"Unexpected error"}}}},"/measure_unit/last_update":{"get":{"operationId":"Tiger Tag (public API)/measure_unit/last_update|GET","summary":"Returns the timestamp indicating the last time any measure unit was updated.","description":"Returns the timestamp indicating the last time any measure unit was updated.\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E not required","tags":["measure_unit"],"security":[],"parameters":[],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"type":"object","properties":{}}}}},"400":{"description":"Input Error. Check the request payload for issues."},"401":{"description":"Unauthorized"},"403":{"description":"Access denied. Additional privileges are needed access the requested resource."},"404":{"description":"Not Found. The requested resource does not exist."},"429":{"description":"Rate Limited. Too many requests."},"500":{"description":"Unexpected error"}}}},"/product/count":{"get":{"operationId":"Tiger Tag (public API)/product/count|GET","summary":"","description":"\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E not required","tags":["product"],"security":[],"parameters":[{"name":"product_type_id","in":"query","description":"","required":false,"schema":{"type":"integer","format":"int64","default":null}}],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"type":"integer","format":"int64","description":""}}}},"400":{"description":"Input Error. Check the request payload for issues."},"401":{"description":"Unauthorized"},"403":{"description":"Access denied. Additional privileges are needed access the requested resource."},"404":{"description":"Not Found. The requested resource does not exist."},"429":{"description":"Rate Limited. Too many requests."},"500":{"description":"Unexpected error"}}}},"/product/filament/count":{"get":{"operationId":"Tiger Tag (public API)/product/filament/count|GET","summary":"","description":"\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E not required","tags":["product"],"security":[],"parameters":[],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"type":"integer","format":"int64","description":""}}}},"400":{"description":"Input Error. Check the request payload for issues."},"401":{"description":"Unauthorized"},"403":{"description":"Access denied. Additional privileges are needed access the requested resource."},"404":{"description":"Not Found. The requested resource does not exist."},"429":{"description":"Rate Limited. Too many requests."},"500":{"description":"Unexpected error"}}}},"/product/filament/get_infos":{"post":{"operationId":"Tiger Tag (public API)/product/filament/get_infos|POST","summary":"Retrieves supplementary info (e.g., recommended settings or metadata) about a filament product, given the relevant IDs for type, material, diameter, aspects, measure, brand, and an optional language.","description":"Retrieves supplementary info (e.g., recommended settings or metadata) about a filament product, given the relevant IDs for type, material, diameter, aspects, measure, brand, and an optional language.\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E not required","tags":["product"],"security":[],"parameters":[],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"type":"object","description":""}}}},"400":{"description":"Input Error. Check the request payload for issues."},"401":{"description":"Unauthorized"},"403":{"description":"Access denied. Additional privileges are needed access the requested resource."},"404":{"description":"Not Found. The requested resource does not exist."},"429":{"description":"Rate Limited. Too many requests."},"500":{"description":"Unexpected error"}},"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"type_id":{"type":"integer","format":"int64","description":""},"material_id":{"type":"integer","format":"int64","description":""},"diameter_id":{"type":"integer","format":"int64","description":""},"aspect1_id":{"type":"integer","format":"int64","description":""},"aspect2_id":{"type":"integer","format":"int64","description":""},"measure_id":{"type":"integer","format":"int64","description":""},"brand_id":{"type":"integer","format":"int64","description":""},"lang":{"type":"string","description":""}},"required":["type_id","material_id","diameter_id","aspect1_id","aspect2_id","measure_id","brand_id"]}},"multipart/form-data":{"schema":{"type":"object","properties":{"type_id":{"type":"integer","format":"int64","description":""},"material_id":{"type":"integer","format":"int64","description":""},"diameter_id":{"type":"integer","format":"int64","description":""},"aspect1_id":{"type":"integer","format":"int64","description":""},"aspect2_id":{"type":"integer","format":"int64","description":""},"measure_id":{"type":"integer","format":"int64","description":""},"brand_id":{"type":"integer","format":"int64","description":""},"lang":{"type":"string","description":""}},"required":["type_id","material_id","diameter_id","aspect1_id","aspect2_id","measure_id","brand_id"]}}}}}},"/product/filament/get":{"get":{"operationId":"Tiger Tag (public API)/product/filament/get|GET","summary":"Retrieves a filament product by specifying the RFID chip UID and product ID, optionally specifying a data format.","description":"Retrieves a filament product by specifying the RFID chip UID and product ID, optionally specifying a data format.\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E not required","tags":["product"],"security":[],"parameters":[{"name":"uid","in":"query","description":"RFID chip UID","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"product_id","in":"query","description":"","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"format","in":"query","description":"","required":false,"schema":{"type":"string","enum":["full","static"],"default":"full"}}],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"type":"object","properties":{}}}}},"400":{"description":"Input Error. Check the request payload for issues."},"401":{"description":"Unauthorized"},"403":{"description":"Access denied. Additional privileges are needed access the requested resource."},"404":{"description":"Not Found. The requested resource does not exist."},"429":{"description":"Rate Limited. Too many requests."},"500":{"description":"Unexpected error"}}}},"/product/get/all":{"post":{"operationId":"Tiger Tag (public API)/product/get/all|POST","summary":"","description":"\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E not required","tags":["product"],"security":[],"parameters":[],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"type":"object","properties":{"itemsReceived":{"type":"integer","format":"int64","description":""},"curPage":{"type":"integer","format":"int64","description":""},"nextPage":{"type":"integer","format":"int64","description":"","nullable":true},"prevPage":{"type":"integer","format":"int64","description":"","nullable":true},"offset":{"type":"integer","format":"int64","description":""},"itemsTotal":{"type":"integer","format":"int64","description":""},"pageTotal":{"type":"integer","format":"int64","description":""},"items":{"type":"array","items":{"type":"object","properties":{"product_id":{"type":"integer","format":"int64","description":""},"name":{"type":"string","description":""},"color":{"type":"string","description":""},"measure_value":{"type":"number","description":""},"sku":{"type":"string","description":"","nullable":true},"img_src":{"type":"string","description":"Original image Source","nullable":true},"img_version":{"type":"integer","format":"int64","description":"Last version of the image stored in the CDN server","nullable":true},"product_type":{"type":"string","description":"","nullable":true},"brand":{"type":"string","description":"","nullable":true},"series":{"type":"string","description":"","nullable":true},"material":{"type":"string","description":"","nullable":true},"measure_unit":{"type":"string","description":"","nullable":true}}}}}}}}},"400":{"description":"Input Error. Check the request payload for issues."},"401":{"description":"Unauthorized"},"403":{"description":"Access denied. Additional privileges are needed access the requested resource."},"404":{"description":"Not Found. The requested resource does not exist."},"429":{"description":"Rate Limited. Too many requests."},"500":{"description":"Unexpected error"}},"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"type_id":{"type":"integer","format":"int64","description":"","nullable":true},"brand_id":{"type":"integer","format":"int64","description":"","nullable":true},"series_id":{"type":"integer","format":"int64","description":"","nullable":true},"search":{"type":"string","description":"","nullable":true},"page":{"type":"integer","format":"int64","description":""},"per_page":{"type":"integer","format":"int64","description":""},"sort_by":{"type":"string","description":"","enum":["type","brand","series","name","material"],"nullable":true,"default":"brand"},"order_by":{"type":"string","description":"","enum":["asc","desc"],"nullable":true,"default":"asc"}},"required":["page","per_page"]}},"multipart/form-data":{"schema":{"type":"object","properties":{"type_id":{"type":"integer","format":"int64","description":"","nullable":true},"brand_id":{"type":"integer","format":"int64","description":"","nullable":true},"series_id":{"type":"integer","format":"int64","description":"","nullable":true},"search":{"type":"string","description":"","nullable":true},"page":{"type":"integer","format":"int64","description":""},"per_page":{"type":"integer","format":"int64","description":""},"sort_by":{"type":"string","description":"","enum":["type","brand","series","name","material"],"nullable":true,"default":"brand"},"order_by":{"type":"string","description":"","enum":["asc","desc"],"nullable":true,"default":"asc"}},"required":["page","per_page"]}}}}}},"/product/get":{"get":{"operationId":"Tiger Tag (public API)/product/get|GET","summary":"Retrieves a product by specifying the RFID chip UID and product ID, optionally specifying a data format.","description":"Retrieves a product by specifying the RFID chip UID and product ID, optionally specifying a data format.\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E not required","tags":["product"],"security":[],"parameters":[{"name":"uid","in":"query","description":"","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"product_id","in":"query","description":"","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"lang","in":"query","description":"","required":false,"schema":{"type":"string","default":"en"}},{"name":"timestamp","in":"query","description":"","required":false,"schema":{"type":"number","format":"timestamptz","default":null}}],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"type":"object","description":""}}}},"400":{"description":"Input Error. Check the request payload for issues."},"401":{"description":"Unauthorized"},"403":{"description":"Access denied. Additional privileges are needed access the requested resource."},"404":{"description":"Not Found. The requested resource does not exist."},"429":{"description":"Rate Limited. Too many requests."},"500":{"description":"Unexpected error"}}}},"/type/get/all":{"get":{"operationId":"Tiger Tag (public API)/type/get/all|GET","summary":"Retrieves a list of all product types.","description":"Retrieves a list of all product types.\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E not required","tags":["type"],"security":[],"parameters":[],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer","format":"int64","description":"","nullable":true},"label":{"type":"string","description":""}}}}}}},"400":{"description":"Input Error. Check the request payload for issues."},"401":{"description":"Unauthorized"},"403":{"description":"Access denied. Additional privileges are needed access the requested resource."},"404":{"description":"Not Found. The requested resource does not exist."},"429":{"description":"Rate Limited. Too many requests."},"500":{"description":"Unexpected error"}}}},"/type/last_update":{"get":{"operationId":"Tiger Tag (public API)/type/last_update|GET","summary":"Returns the timestamp indicating the last time any product type was updated.","description":"Returns the timestamp indicating the last time any product type was updated.\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E not required","tags":["type"],"security":[],"parameters":[],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"type":"object","properties":{}}}}},"400":{"description":"Input Error. Check the request payload for issues."},"401":{"description":"Unauthorized"},"403":{"description":"Access denied. Additional privileges are needed access the requested resource."},"404":{"description":"Not Found. The requested resource does not exist."},"429":{"description":"Rate Limited. Too many requests."},"500":{"description":"Unexpected error"}}}},"/uid/count":{"get":{"operationId":"Tiger Tag (public API)/uid/count|GET","summary":"","description":"\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E not required","tags":["uid"],"security":[],"parameters":[],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"type":"object","properties":{}}}}},"400":{"description":"Input Error. Check the request payload for issues."},"401":{"description":"Unauthorized"},"403":{"description":"Access denied. Additional privileges are needed access the requested resource."},"404":{"description":"Not Found. The requested resource does not exist."},"429":{"description":"Rate Limited. Too many requests."},"500":{"description":"Unexpected error"}}}},"/version/get/all":{"get":{"operationId":"Tiger Tag (public API)/version/get/all|GET","summary":"Retrieves a list of all available TIGER TAG versions.","description":"Retrieves a list of all available TIGER TAG versions.\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E not required","tags":["version"],"security":[],"parameters":[],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"type":"object","description":""}}}},"400":{"description":"Input Error. Check the request payload for issues."},"401":{"description":"Unauthorized"},"403":{"description":"Access denied. Additional privileges are needed access the requested resource."},"404":{"description":"Not Found. The requested resource does not exist."},"429":{"description":"Rate Limited. Too many requests."},"500":{"description":"Unexpected error"}}}},"/version/last_update":{"get":{"operationId":"Tiger Tag (public API)/version/last_update|GET","summary":"Returns the timestamp indicating the last time any version was updated.","description":"Returns the timestamp indicating the last time any version was updated.\n\u003Cbr /\u003E\u003Cbr /\u003E\n\u003Cb\u003EAuthentication:\u003C/b\u003E not required","tags":["version"],"security":[],"parameters":[],"responses":{"200":{"description":"Success!","content":{"application/json":{"schema":{"type":"object","properties":{}}}}},"400":{"description":"Input Error. Check the request payload for issues."},"401":{"description":"Unauthorized"},"403":{"description":"Access denied. Additional privileges are needed access the requested resource."},"404":{"description":"Not Found. The requested resource does not exist."},"429":{"description":"Rate Limited. Too many requests."},"500":{"description":"Unexpected error"}}}}}}
